@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  min-height: 100%;
  display: flex;
}

body {
  flex: 1;
}
.icon-dashboard {
  mask: url(/icons/dashboard.svg);
}
.icon-down-arrow {
  mask: url(/icons/down-arrow.svg);
}
.icon-google {
  mask: url(/icons/google.svg);
}
.icon-apple {
  mask: url(/icons/apple.svg);
}
.icon-like {
  mask: url(/icons/like.svg);
}
.icon-revenue {
  mask: url(/icons/revenue.svg);
}
.icon-schedule {
  mask: url(/icons/schedule.svg);
}
.icon-settings {
  mask: url(/icons/settings.svg);
}
.icon-transaction {
  mask: url(/icons/transaction.svg);
}
.icon-users {
  mask: url(/icons/users.svg);
}
.icon-bell {
  mask: url(/icons/bell.svg);
}
.icon-search {
  mask: url(/icons/search.svg);
}

.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: white;
  mask-size: cover;
}
